/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './base.scss';
@import './helpers/variables.scss';

@import './example';
@import './sections/header.scss';

.container {
  margin: 0 auto;
}

@media (min-width: 20px) and (max-width: 319px) {
  .container {
    width: 280px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 320px;
    padding: 0px 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 768px;
    padding: 0px 75px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 1024px;
    padding: 0px 70px;
  }
}
